/* Don't forget, we're using jQuery Mobile styles first! */

/* Base */


/* Layout */


/* Module */


/* State */


/* Theme */

/* larger bold text for non-English text */

.ui-listview li p {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0;
}

/* smaller text for English text */
.ui-collapsible-heading span,
.ui-li-divider > h2 > span,
.ui-listview li span {
  font-size: smaller;
  font-weight: normal;
}

